html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


body {
    /*background-color: rgba(1, 1, 2, 0.85);*/
    font-size: 14px;
    width: auto;
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    color: #373737;
}

img {
    border-radius: 3px;
}

.button {
    color:#373737;
    min-width: 100px;
    padding: 10px;
    /*border-radius: 250px;*/
    margin: 5px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #373737;
    font-size: 20px;




}

.button:hover {

    color: #C0B283;
    transform: scale(1.05);
    background-color:#373737;


}

[role=link]{
    cursor: pointer;
    color: #F4F4F4;
}

input:focus {
    outline: none;
}

/*-------------------------------Top container---------------------------------------------*/

#containerTop {
    min-height: 100%;
    width: 100%;
    background-color:#DCD0C0;

}


.borderBottom {
    border-bottom: 1px solid #373737;
    margin-bottom: 20px;
}
/*Main Content Area                                                                                           ADJUSTMENTS NEEDED*/

#mainScreenContainer {
    background-color: #DCD0C0;
    margin-left: 270px;
    padding-bottom: 90px;
    width: calc(100% - 270px);

}

#mainContent {
    padding: 0 20px;

}

.pageHeaderH1 {
    padding: 25px;
    text-align: center;
    color: #373737;
}

.gridItem {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 30%;
    max-width: 250px;
    min-width: 150px;

}

.gridItem a {
    text-decoration: none;
}

.gridItem img {
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gridItem .playlistImg img {
    width: 100%;
    box-shadow: none;
}

.gridItem:hover {
    transform: scale(1.05);
}

.gridItemInfo {
    font-weight: 400;
    padding: 5px 0;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color:#373737;
    font-size: 16px;
    margin-top: 5px;

}

.gridContainer h2,
.songListContainer h2,
.artistContain h2{
    text-align: center;
}

/*------------------------------------------------------------------media player controls--------------------------*/

#mediaPlayerBarContain {
    background-color: #373737;
    bottom: 0;
    position: fixed;
    width: 100%;
}

#mediaPlayerBar {
    height: 90px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
}

#mediaPlayerBar .content {
    height: 60px;
    width: 100%;

}

#playerLeft .albumImage {
    max-width: 60px;
    height: 100%;
    margin-right: 15px;
    float: left;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#playerLeft .albumInfo {
    display: table;
}

#playerLeft .albumInfo .trackName {
    width: 100%;
    margin: 5px 0;
    display: inline-block;
}

#playerLeft .albumInfo .artistName span {
    font-size: 12px;
    color: #F4F4F4;
}

#playerCenter {
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#playerLeft, #playerRight {
    width: 30%;
    min-width: 138px;
}

.playerControls .btns {
    margin: 0 auto;
    display: table;
}

.btns .controlBtn {
    background-color: transparent;
    border: none;
    vertical-align: middle;

}

.controlBtn {
    background-color: transparent;
    border: none;
    vertical-align: middle;
}

/*.controlBtn.volume {*/
    /*display: flex;*/
/*}*/

.volBtn {
    width:25px;
}
.shuffleBtn {
    width:25px;
}
.repeatBtn{
    width:25px;
}

/*.btns .controlBtn img {*/
    /*width: 100%;*/
    /*height: auto;*/
/*}*/


.btns .controlBtn.play img,
.controlBtn.pause img {
width: 32px;
    height:32px;
}



.controlBtn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.progressTime {
    color: #F4F4F4;
    font-size: 12px;
    min-width: 40px;
    text-align: center;
}

.playbackBar {
    display: flex;
}

.progressBar {
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
}

.progressBarBG {
    background-color: #404040;
    border-radius: 2px;
    height: 5px;
    width: 100%;
}

.progress {
    background-color: #C0B283;
    height: 5px;
    width: 0;
    border-radius: 2px;
}

.playbackBar .progressBar {
    margin-top: 5px;
}

.volBar {
    width: 180px;
    position: absolute;
    right: 0;
}

.volBar .progressBar {
    width: 125px;
    margin-top: 10px;
    margin-left: 5px;
}

#playerRight {
    position: relative;
    margin-top: 15px;
}

/*----------------------------------------nav Bar-----------------------------------------------*/

#navBarContainer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #DCD0C0;
    min-width: 167px;
    width: 270px;
    height: 100vh;
    color:#373737;
}

.navBar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-content: center;
}

.logo {
    margin: auto;
}

.icon {
    width: 25px;
    right: 0;
    top: 5px;
    position: absolute;

}

.navBar .sectionGroup {
    padding: 10px 0;

}



.navBtn {
    display: block;
    color: #373737;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    position: relative;
}

.navBtn:hover {
    transform: scale(1.05);
    background-color:#373737;
    color:#F4F4F4;
    border-radius:3px;
}

.navBtnLink {
    text-decoration: none;
    color:#373737;
}

.navBtnLink:hover{

    color:#F4F4F4;
}
.navBtn:hover .navBtnLink{
    color:#F4F4F4;
}
.userBtn:hover .navBtnLink{
    color:#F4F4F4;
}



    /*----------------*/


/*ARTIST*/


.artistInfo{
    text-align: center;
}




/*Album*/

.albumTopInfo {
    display: inline-block;
    padding: 40px 0 10px 0;
    width: 100%;

}

.albumTopInfo .albumSectionLeft {
    float: left;
    width: 29%;
    max-width: 250px;

}

.albumTopInfo .albumSectionLeft img {
    width: 100%;
}

.albumTopInfo .albumSectionRight {
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
}

.albumTopInfo .albumSectionRight h1 {
    margin-top: 0;
    color:#373737;
}

.albumTopInfo .albumSectionRight p,
.trackListRow span {
    font-weight: 200;
    color: #373737;
}

/*----------*/

.songList {
    padding: 0;
}

.trackListRow {
    list-style: none;
    padding: 15px 10px;
    height: 40px;
    color:#373737;
}

.trackListRow:hover {
    background-color: #373737;
    color: #F4F4F4;
    border-radius: 3px;
}

.trackListRow .trackCount {
    float: left;
    width: 8%
}

.trackListRow .trackCount img {
    width: 25px;
    position: absolute;
    visibility: hidden;
    cursor: pointer;
}

.trackListRow:hover .trackCount img {
    visibility: visible;
}

.trackListRow .trackCount span {
    visibility: visible;
}
.trackListRow:hover .trackInfo span {
    color:#F4F4F4;
}

.trackListRow:hover .trackCount span {
    visibility: hidden;
}

.trackListRow .trackInfo {

    width: 75%;
    float: left;
}

.trackListRow .trackInfo span {
    display: block;
}



.trackListRow .trackInfo .trackName {
    color: #373737;
    margin-bottom: 5px;
}
.trackListRow:hover .trackInfo .trackName{
    color:#F4F4F4;
}

.trackListRow:hover .duration {
    color:#F4F4F4;
}

.trackListRow .trackOptions {
    float: left;
    width: 5%;
    text-align: right;
}

.trackListRow .trackOptions img {
    width: 15px;
    visibility: hidden;
}

.trackListRow:hover .trackOptions img {
    width: 15px;
    visibility: visible;
}

.trackListRow .songDuration {
    float: left;
    width: 12%;
    text-align: right;
}

/*SEarch*/

.searchContainer {

    padding: 20px 25px;
}

.searchContainer h4 {
    margin: 0;
    font-weight: 400;
}

.searchContainer .searchInput {
    width: 100%;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 70px;
    font-weight: 600;
    letter-spacing: 2px;

}

.searchResultRow {
    padding: 15px 10px;
}

.searchResultRow:hover {
    background-color: #373737;
    transform: scale(1.01);
}

.noResults {
    margin: 20px;
    display:block;
}

/*PlayList Page*/


.btnItems .button {
    display: block;
    margin: 0 auto 20px auto;
}

.playlistContain {
    padding: 10px 0;
}

.playlistImg {

    padding: 10px;
    border-radius: 3px;
    /*border: 1px solid #C0B283;*/
}

.playlistImg:hover{
    /*border: 1px solid #C0B283;*/
    transform: scale(1.05);
}

/*.playlistSectionLeft .playlistImg {*/
    /*padding: 10px;*/
    /*background-color: rgba(21, 8, 23, 0.69);*/
    /*border-radius: 3px;*/
    /*border: 1px solid rgba(245, 245, 245, 0.71);*/
    /*width: 100%;*/
    /*max-width: 100px;*/
    /*height: auto;*/
/*}*/
.img_off, .playlistImg:hover .img_on{
    display:none;
    transform: scale(1.05);
}
.img_on, .playlistImg:hover .img_off{
    display:block;
}


.playlistTopInfo {
    display: inline-block;
    padding: 40px 0 10px 0;
    width: 100%;

}

.playlistTopInfo .playlistSectionLeft {
    float: left;
    width: 29%;
    max-width: 250px;

}

.playlistTopInfo .playlistSectionLeft img {
    width: 100%;
}

.playlistTopInfo .playlistSectionRight {
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
}

 .playlistSectionRight h1 {
    margin-top: 0;
}

.playlistTopInfo .playlistSectionRight p,
.trackListRow span {
    font-weight: 200;
    /*color: #F4F4F4;*/
}
.playlistPageImg {
    padding: 10px;
    /*background-color: #373737;*/
    border-radius: 3px;
    /*border: 1px solid #C0B283;*/
}


.optionMenu {
    background-color: #373737;
    width: 150px;
    border: 1px solid #373737;
    border-radius: 2px;
    position:fixed;
    z-index: 500;
    display:none;
}

.optionMenu .item {
    width:100%;
    padding: 10px 20px;
    box-sizing: border-box;
    font-weight: 400;
    height: auto;
    cursor: pointer;
    color: #F4F4F4;
    background-color: #373737;
    border:none;
}

.optionMenu .item:hover {
    transform: scale(1.05);
    background-color:#373737;
}

.optionMenu select {
    border:none;
    -webkit-appearance: none;
}




/*---------------------------------------------------*/



.userBtn {
    /*display: block;*/
    color: #F4F4F4;
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    /*bottom:0;*/
    /*margin-top: 175px;*/

}

.userBtn:hover {
    transform: scale(1.05);
    background-color:#373737;
    border-radius:3px;
}

.userBtnLink {
    text-decoration: none;
}

.userDetails {
    padding: 20px;
}


.userDetails .container h1,
.userDetails .container .button,
.userDetails .container .message
{
    text-align: center;
}

.userDetails .container input[type='text'],
.userDetails .container input[type='password'],
.userDetails .container .button ,
.userDetails .container .message
{
    display: block;
    margin: 15px auto;
}
.userDetails .container input[type='text'],
.userDetails .container input[type='password'] {
    height: 50px;
    width: 50%;
    background-color: #373737;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    margin: 15px auto;
    font-weight: 200;
    color: #F4F4F4;
}




.userDetails .container .message {
font-weight: 200;
color: darkred;
}
